<!DOCTYPE html>
<html>
  <head>
    <title>AuctionAjax</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="log-in" style="text-align: right">
    <%= link_to 'Log In', items_path, :class => "btn btn-outline-success" %>
    <%= link_to 'Registration Page', items_path, :class => "btn btn-outline-primary" %>
  </div>
    <%= yield %>
  </body>
</html>
